/* Common */
.hidden {display:none !important;}
.wg {font:12px/1.5 tahoma,arial,\5b8b\4f53;letter-spacing:-4px;*letter-spacing: normal;*word-spacing:-6px;text-rendering:optimizespeed;}
.opera-only :-o-prefocus,
.wg {word-spacing:-6px;}
.wu {display:inline-block;*zoom:1;*display:inline;letter-spacing: normal;word-spacing:normal;vertical-align:top;text-rendering:auto;}
.wl {width:990px;margin:10px auto;}

/* Global */
body {
    font:12px/1.5 tahoma,arial,\5b8b\4f53;-webkit-font-smoothing:antialiased;
}

/* Link */
a,
a:link,
a:visited,
a:hover,
a:active {text-decoration:none;color:#1863B4;outline:none;}
a:hover {color:#ff6600;text-decoration:underline;}

/* Image */
li img {vertical-align:bottom;}

/* Placeholder */
input:-moz-placeholder {color:#fff !important;}
input:-webkit-input-placeholder {color:#fff !important;}
.placeholder {color:#fff !important;}

/* Clearfix */
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
* html .clearfix {zoom:1;}
.clearfix {display:block;}

/* Header */
#header {
    margin-top:5px;
    border-top:5px solid #8ac812;
    background:#303030;
}
#header .header-bd {
    width:1060px;
    margin:0 auto;
    height:83px;
    overflow:hidden;
}
#logo {
    float:left;
}
#logo a {
    display:block;
    width:114px;
    height:83px;
    background:url("../global/img/logo.png") center center no-repeat;
    text-indent:-9999px;
}
#nav {
    float:left;
    margin-left:63px;
    position: relative;
    width:883px;
}
.nav-list {
    padding-top:40px;
    font-weight:bold;
}
.nav-item {
    font-size:18px;
    height:38px;
    line-height:38px;
    padding:0 20px 5px 20px;
    margin-right:20px;
    font-family:"Microsoft Yahei", "微软雅黑";
}
.nav-item a {
    color:#fff;
}
.nav-item a:hover {
    text-decoration:none;
}
.nav-selected {
    padding-bottom:0;
    border-bottom:5px solid #8ac812;
}
.nav-search {
    padding-top:30px;
    padding-left:45px;
}
.nav-search-bd {
    background:#595959;
}
.nav-search-bd input {
    background:none;
    padding:0 18px;
    height:40px;
    color:#fff;
    border:0;
    float:left;
    font-size:16px;
    width:182px;
}
.nav-search-bd button {
    float:left;
    height:40px;
    width:42px;
    border:0;
    background:url("../global/img/search-btn.png") 0 0 no-repeat;
    padding:0;
    cursor:pointer;
}
a.nav-publish {
    width:173px;
    height:40px;
    line-height:40px;
    font-family:"Microsoft Yahei", "微软雅黑";
    color:#fff;
    font-size:26px;
    text-align:center;
    margin-left:24px;
    margin-top:30px;
    background:#8ac812;
}
a.nav-publish:hover {
    text-decoration:none;
}
.nav-info {
    margin-left:9px;
    line-height:20px;
    width: 50px;
    font-size:14px;
    position: absolute;
    bottom:13px;
    right:0;
}
.nav-info .login,
.nav-info .register {
    display:block;
    text-align:right;
    color:#fff;
}

/* Footer */
#footer {
    text-align:center;
    color:#606863;
    margin-top:30px;
    padding-bottom:28px;
}
.footer-nav .wu {
    vertical-align:middle;
}
.footer-nav a {
    color:#606863;
}
.footer-nav a:hover {
    text-decoration:underline;
}
.footer-nav b {
    margin:0 14px;
    height:2px;
    width:2px;
    background:#606863;
}
.footer-nav .copyright {
    margin-top:14px;
}

/* Mini Login */
.yui3-widget-mask {
    background: #000;
    zoom: 1;
    -ms-filter: "alpha(opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.yui3-panel-hidden {
    visibility:hidden;
    left:-9999px;
    top:-9999px;
}
.login-panel {
    background:#fff;
    position:absolute;
}
.login-panel .yui3-widget-hd {
    
}
.login-panel .yui3-widget-hd h2 {
    height:50px;
    line-height:50px;
    text-align:center;
    font-family:"Microsoft Yahei", "微软雅黑";
    font-size:22px;
    color:#fff;
    background:#8ac812;
    position:relative;
}
.login-panel .yui3-widget-hd h2 a {
    position: absolute;
    width:23px;   
    height:23px;
    background:url("../global/img/login-close.png") 0 0 no-repeat;
    top:13px;
    right:24px;
    text-indent:-9999px;   
}
.login-panel .yui3-widget-hd .yui3-widget-buttons {
    display:none;
}
.login-panel form {
    padding-top:35px;
    padding-bottom:42px;
}
.login-panel form li {
    margin-bottom:12px;
}
.login-panel form label {
    display:block;
    overflow:hidden;
}
.login-panel form label span {
    float:left;
    width:110px;
    height:40px;
    line-height:40px;
    text-align:right;
    color:#555555;
    font-size:18px;
    font-family:"Microsoft Yahei", "微软雅黑";
    margin-right:6px;
}
.login-panel form label input {
    border:0;
    padding:0 18px;
    height:40px;
    width:248px;
    background:#e9e9e9;
    font-size:16px;
}
.login-panel p {
    margin-top:23px;
    padding-left:116px;
}
.login-panel p button {
    padding:0;
    border:0;
    width:284px;
    height:40px;
    line-height:40px;
    font-family:"Microsoft Yahei", "微软雅黑";
    color:#fff;
    font-size:18px;
    text-align:center;
    background:#8ac812;
    cursor:pointer;
}
.login-panel form div {
    margin-top:8px;
    padding-left:116px;
    width:284px;
}
.login-panel form div a {
    float:left;
    text-decoration:underline;
    color:#595ec8;
    font-size:16px;
}
.login-panel form div .forget-password {
    float:right;
}
.login-panel .switch-type {
    font-family:"Microsoft Yahei", "微软雅黑";
    color:#fff;
    font-size:15px;
    line-height:32px;
    position: absolute;
    bottom:0;
    right:0;
    padding-right:5px;
    width:111px;
    text-align:right;
}
.login-panel .switch-type:hover {
    text-decoration: none;
}
.login-panel .yui3-panel-content {
    background:url("../global/img/enterprise-login.png") right bottom no-repeat;
}

.login-enterprise .yui3-widget-hd h2 {
    background:#6898ef;
}
.login-enterprise p button {
    background:#6898ef;
}
.login-enterprise .yui3-panel-content {
    background:url("../global/img/personal-login.png") right bottom no-repeat;
}



